In [4]:
import pandas as pd
from datetime import datetime
from pandas.tseries.offsets import MonthEnd
import matplotlib.pyplot as plt

pd.set_option('display.float_format', '{:.2f}'.format)

In [5]:
df = pd.read_csv('../data/raw/energy_data_energy_consumption-7-2024.csv')

# drop rows with NaN values
df = df.dropna()

# rename columns: "Região", "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro", "Total"
df.columns = ["Região", "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro", "Total"]

# reset index 
df = df.reset_index(drop=True)

# Rename "TOTAL BRASIL" from column "Região" to "Brasil"
df.loc[df['Região'] == 'TOTAL BRASIL', 'Região'] = 'Brasil'

df

ValueError: Length mismatch: Expected axis has 4 elements, new values have 14 elements

In [ ]:
# create empty dataframe 
df_filter_total = pd.DataFrame()

# filter the dataframe in a loop, showing groups of 12 rows
for i in range(0, len(df), 11):
    df_filter = df.iloc[i:i+11].copy().reset_index(drop=True)
    # drop rows 5 to 10
    df_filter = df_filter.drop(df_filter.index[6:11])
     
    # concat to total
    df_filter_total = pd.concat([df_filter_total, df_filter])
        
df_filter_total = df_filter_total.reset_index(drop=True)
df_filter_total

,Região,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro,Total
0,Brasil,46835420.17,46309139.48,47827070.54,47337699.26,0,0,0,0,0,0,0,0,188309329.45
1,Norte,3469530.56,3313458.33,3466495.47,3455924.38,0,0,0,0,0,0,0,0,13705408.74
2,Nordeste,8401502.12,8159710.76,8208486.81,8354166.96,0,0,0,0,0,0,0,0,33123866.65
3,Sudeste,22368249.72,22055645.83,23022452.70,22685707.97,0,0,0,0,0,0,0,0,90132056.22
4,Sul,8896396.66,9152087.22,9355275.22,9077472.57,0,0,0,0,0,0,0,0,36481231.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Norte,1574434.34,1507448.59,1574176.69,1598862.11,1625478.92,1641381.91,1665002.57,1729895.89,1687156.54,1724166.75,1719638.46,1740620.86,19788263.63
122,Nordeste,4457112.38,4139768.00,4372743.11,4461999.48,4423584.52,4409301.74,4376174.12,4438514.59,4570030.34,4657880.99,4708464.83,4770509.72,53786083.82
123,Sudeste,14929524.40,14714713.51,14903795.68,15501322.96,14906628.72,14898517.41,15094285.46,15189574.87,15593685.74,15839877.16,15804794.18,15750647.95,183127368.04
124,Sul,4510113.04,4690227.86,4898770.40,4873311.14,4723026.16,4556563.56,4598792.89,4653182.44,4654411.58,4590697.50,4529419.23,4665214.36,55943730.16
125,Centro-Oeste,1507173.86,1456012.81,1534843.53,1610686.66,1565788.16,1577196.86,1611749.63,1645690,1727167.04,1743498.54,1604807.35,1635113.54,19219727.98

In [ ]:
# Current year
current_year = datetime.now().year

# Number of rows per group
rows_per_group = 6  # Since there are 6 regions: Brasil, Norte, Nordeste, Sudeste, Sul, Centro-Oeste

# Calculate the number of groups
num_groups = len(df_filter_total) // rows_per_group

In [ ]:
years = []

# Assign years to each row
for i in range(num_groups):
    year = current_year - i
    years.extend([year] * rows_per_group)

# If there are remaining rows that form an incomplete group, add the remaining year
remaining_rows = len(df_filter_total) % rows_per_group
if remaining_rows > 0:
    years.extend([current_year - num_groups] * remaining_rows)

In [ ]:
df_filter_total['Ano'] = years
df_filter_total

,Região,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro,Total,Ano
0,Brasil,46835420.17,46309139.48,47827070.54,47337699.26,0,0,0,0,0,0,0,0,188309329.45,2024
1,Norte,3469530.56,3313458.33,3466495.47,3455924.38,0,0,0,0,0,0,0,0,13705408.74,2024
2,Nordeste,8401502.12,8159710.76,8208486.81,8354166.96,0,0,0,0,0,0,0,0,33123866.65,2024
3,Sudeste,22368249.72,22055645.83,23022452.70,22685707.97,0,0,0,0,0,0,0,0,90132056.22,2024
4,Sul,8896396.66,9152087.22,9355275.22,9077472.57,0,0,0,0,0,0,0,0,36481231.67,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Norte,1574434.34,1507448.59,1574176.69,1598862.11,1625478.92,1641381.91,1665002.57,1729895.89,1687156.54,1724166.75,1719638.46,1740620.86,19788263.63,2004
122,Nordeste,4457112.38,4139768.00,4372743.11,4461999.48,4423584.52,4409301.74,4376174.12,4438514.59,4570030.34,4657880.99,4708464.83,4770509.72,53786083.82,2004
123,Sudeste,14929524.40,14714713.51,14903795.68,15501322.96,14906628.72,14898517.41,15094285.46,15189574.87,15593685.74,15839877.16,15804794.18,15750647.95,183127368.04,2004
124,Sul,4510113.04,4690227.86,4898770.40,4873311.14,4723026.16,4556563.56,4598792.89,4653182.44,4654411.58,4590697.50,4529419.23,4665214.36,55943730.16,2004
125,Centro-Oeste,1507173.86,1456012.81,1534843.53,1610686.66,1565788.16,1577196.86,1611749.63,1645690,1727167.04,1743498.54,1604807.35,1635113.54,19219727.98,2004

In [ ]:
# List of month columns (assuming they are named exactly as 'January', 'February', ..., 'December')
month_columns = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

# Melt the dataframe to long format
df_long = pd.melt(df_filter_total, id_vars=['Região', 'Ano'], value_vars=month_columns, 
                  var_name='Mês', value_name='Energia')

# Display the transformed dataframe
print(df_long.to_string())

            Região   Ano       Mês     Energia
0           Brasil  2024   Janeiro 46835420.17
1            Norte  2024   Janeiro  3469530.56
2         Nordeste  2024   Janeiro  8401502.12
3          Sudeste  2024   Janeiro 22368249.72
4              Sul  2024   Janeiro  8896396.66
...            ...   ...       ...         ...
1507         Norte  2004  Dezembro  1740620.86
1508      Nordeste  2004  Dezembro  4770509.72
1509       Sudeste  2004  Dezembro 15750647.95
1510           Sul  2004  Dezembro  4665214.36
1511  Centro-Oeste  2004  Dezembro  1635113.54

[1512 rows x 4 columns]

In [6]:
df = pd.read_csv('../data/raw/energy_data_energy_consumption-7-2024.csv')
print(df.to_string())

            Region  Year      Month      Energy
0           Brasil  2024    January 46835420.17
1            Norte  2024    January  3469530.56
2         Nordeste  2024    January  8401502.12
3          Sudeste  2024    January 22368249.72
4              Sul  2024    January  8896396.66
5     Centro-Oeste  2024    January  3699741.11
6           Brasil  2023    January 42545451.40
7            Norte  2023    January  3179448.75
8         Nordeste  2023    January  7661411.17
9          Sudeste  2023    January 20159474.99
10             Sul  2023    January  8304697.21
11    Centro-Oeste  2023    January  3240419.28
12          Brasil  2022    January 42532862.36
13           Norte  2022    January  3033707.57
14        Nordeste  2022    January  7269935.42
15         Sudeste  2022    January 20474247.44
16             Sul  2022    January  8500828.26
17    Centro-Oeste  2022    January  3254143.67
18          Brasil  2021    January 43093327.86
19           Norte  2021    January  2873240.77
20        Nordeste  2021    January  7419802.70
21         Sudeste  2021    January 21497694.92
22             Sul  2021    January  8117258.05
23    Centro-Oeste  2021    January  3185331.42
24          Brasil  2020    January 41337389.01
25           Norte  2020    January  2894525.56
26        Nordeste  2020    January  7130559.42
27         Sudeste  2020    January 20157502.18
28             Sul  2020    January  7980474.77
29    Centro-Oeste  2020    January  3174327.08
30          Brasil  2019    January 41654959.99
31           Norte  2019    January  2563184.13
32        Nordeste  2019    January  6973292.25
33         Sudeste  2019    January 20965937.50
34             Sul  2019    January  8000635.06
35    Centro-Oeste  2019    January  3151911.05
36          Brasil  2018    January 40058305.80
37           Norte  2018    January  2812897.86
38        Nordeste  2018    January  6718801.14
39         Sudeste  2018    January 20078364.46
40             Sul  2018    January  7526624.32
41    Centro-Oeste  2018    January  2921618.02
42          Brasil  2017    January 39358019.58
43           Norte  2017    January  2766063.00
44        Nordeste  2017    January  6697103.29
45         Sudeste  2017    January 19686157.26
46             Sul  2017    January  7307446.30
47    Centro-Oeste  2017    January  2901249.73
48          Brasil  2016    January 38408542.10
49           Norte  2016    January  2734717.00
50        Nordeste  2016    January  6542214.10
51         Sudeste  2016    January 19314000.68
52             Sul  2016    January  6978391.33
53    Centro-Oeste  2016    January  2839218.99
54          Brasil  2015    January 40760683.53
55           Norte  2015    January  2720657.89
56        Nordeste  2015    January  6908173.28
57         Sudeste  2015    January 20943263.25
58             Sul  2015    January  7330738.32
59    Centro-Oeste  2015    January  2857850.79
60          Brasil  2014    January 40279759.00
61           Norte  2014    January  2600972.00
62        Nordeste  2014    January  6886428.00
63         Sudeste  2014    January 20704340.00
64             Sul  2014    January  7333087.00
65    Centro-Oeste  2014    January  2754932.00
66          Brasil  2013    January 38366809.74
67           Norte  2013    January  2392452.74
68        Nordeste  2013    January  6659728.00
69         Sudeste  2013    January 20089886.00
70             Sul  2013    January  6617103.00
71    Centro-Oeste  2013    January  2607640.00
72          Brasil  2012    January 36305167.29
73           Norte  2012    January  2368905.09
74        Nordeste  2012    January  6297828.00
75         Sudeste  2012    January 18915418.00
76             Sul  2012    January  6353277.20
77    Centro-Oeste  2012    January  2369739.00
78          Brasil  2011    January 35873744.26
79           Norte  2011    January  2215755.26
80        Nordeste  2011    January  5988600.00
81         Sudeste  2011    January 19247694.00
82             Sul  2011    January  6285133.00
83    Centro-Oeste  2011    January  2136562.00
84          Brasil  2010    January 33360460.71
85           Norte  2010    January  2065344.75
86        Nordeste  2010    January  5739946.35
87         Sudeste  2010    January 17684138.30
88             Sul  2010    January  5798706.31
89    Centro-Oeste  2010    January  2072325.00
90          Brasil  2009    January 30666661.80
91           Norte  2009    January  1981913.00
92        Nordeste  2009    January  5340331.00
93         Sudeste  2009    January 16124348.00
94             Sul  2009    January  5279472.00
95    Centro-Oeste  2009    January  1940597.80
96          Brasil  2008    January 31855946.27
97           Norte  2008    January  1890320.00
98        Nordeste  2008    January  5505389.27
99         Sudeste  2008    January 17157633.00
100            Sul  2008    January  5491078.00
101   Centro-Oeste  2008    January  1811526.00
102         Brasil  2007    January 30699704.00
103          Norte  2007    January  1833708.00
104       Nordeste  2007    January  5184828.00
105        Sudeste  2007    January 16699870.00
106            Sul  2007    January  5203429.00
107   Centro-Oeste  2007    January  1777869.00
108         Brasil  2006    January 28880910.62
109          Norte  2006    January  1727931.86
110       Nordeste  2006    January  4913181.87
111        Sudeste  2006    January 15695620.21
112            Sul  2006    January  4927599.77
113   Centro-Oeste  2006    January  1616576.91
114         Brasil  2005    January 28375437.44
115          Norte  2005    January  1687538.58
116       Nordeste  2005    January  4775175.93
117        Sudeste  2005    January 15518488.33
118            Sul  2005    January  4809416.19
119   Centro-Oeste  2005    January  1584818.41
120         Brasil  2004    January 26978358.02
121          Norte  2004    January  1574434.34
122       Nordeste  2004    January  4457112.38
123        Sudeste  2004    January 14929524.40
124            Sul  2004    January  4510113.04
125   Centro-Oeste  2004    January  1507173.86
126         Brasil  2024   February 46309139.48
127          Norte  2024   February  3313458.33
128       Nordeste  2024   February  8159710.76
129        Sudeste  2024   February 22055645.83
130            Sul  2024   February  9152087.22
131   Centro-Oeste  2024   February  3628237.34
132         Brasil  2023   February 43021196.35
133          Norte  2023   February  2962051.00
134       Nordeste  2023   February  7494725.11
135        Sudeste  2023   February 20704477.07
136            Sul  2023   February  8623366.16
137   Centro-Oeste  2023   February  3236577.01
138         Brasil  2022   February 41848960.54
139          Norte  2022   February  2774942.82
140       Nordeste  2022   February  6998206.28
141        Sudeste  2022   February 20326411.77
142            Sul  2022   February  8547847.72
143   Centro-Oeste  2022   February  3201551.95
144         Brasil  2021   February 41507062.79
145          Norte  2021   February  2756767.02
146       Nordeste  2021   February  7043660.91
147        Sudeste  2021   February 20562262.52
148            Sul  2021   February  7972092.38
149   Centro-Oeste  2021   February  3172279.96
150         Brasil  2020   February 40969701.87
151          Norte  2020   February  2836046.67
152       Nordeste  2020   February  6813766.97
153        Sudeste  2020   February 19994440.40
154            Sul  2020   February  8120195.39
155   Centro-Oeste  2020   February  3205252.44
156         Brasil  2019   February 41170919.41
157          Norte  2019   February  2421378.87
158       Nordeste  2019   February  6827893.67
159        Sudeste  2019   February 20584521.41
160            Sul  2019   February  8131096.28
161   Centro-Oeste  2019   February  3206029.18
162         Brasil  2018   February 39174100.75
163          Norte  2018   February  2650538.76
164       Nordeste  2018   February  6357334.14
165        Sudeste  2018   February 19689599.59
166            Sul  2018   February  7571526.53
167   Centro-Oeste  2018   February  2905101.73
168         Brasil  2017   February 38847236.49
169          Norte  2017   February  2556160.00
170       Nordeste  2017   February  6348751.77
171        Sudeste  2017   February 19583907.14
172            Sul  2017   February  7520745.57
173   Centro-Oeste  2017   February  2837672.01
174         Brasil  2016   February 38733769.57
175          Norte  2016   February  2708798.60
176       Nordeste  2016   February  6284269.91
177        Sudeste  2016   February 19495060.04
178            Sul  2016   February  7406977.52
179   Centro-Oeste  2016   February  2838663.50
180         Brasil  2015   February 40723219.36
181          Norte  2015   February  2565453.00
182       Nordeste  2015   February  6693234.81
183        Sudeste  2015   February 20869826.87
184            Sul  2015   February  7665269.30
185   Centro-Oeste  2015   February  2929435.38
186         Brasil  2014   February 41653487.00
187          Norte  2014   February  2476973.00
188       Nordeste  2014   February  6620899.00
189        Sudeste  2014   February 21763013.00
190            Sul  2014   February  8019594.00
191   Centro-Oeste  2014   February  2773008.00
192         Brasil  2013   February 38001415.72
193          Norte  2013   February  2266205.72
194       Nordeste  2013   February  6452494.00
195        Sudeste  2013   February 19775484.00
196            Sul  2013   February  6948499.00
197   Centro-Oeste  2013   February  2558733.00
198         Brasil  2012   February 36888068.02
199          Norte  2012   February  2321771.54
200       Nordeste  2012   February  6010436.00
201        Sudeste  2012   February 19327465.00
202            Sul  2012   February  6812782.48
203   Centro-Oeste  2012   February  2415613.00
204         Brasil  2011   February 35444916.66
205          Norte  2011   February  2063281.66
206       Nordeste  2011   February  5502639.00
207        Sudeste  2011   February 19218269.00
208            Sul  2011   February  6504407.00
209   Centro-Oeste  2011   February  2156320.00
210         Brasil  2010   February 33729757.75
211          Norte  2010   February  1976809.75
212       Nordeste  2010   February  5589432.00
213        Sudeste  2010   February 18113423.00
214            Sul  2010   February  5979347.00
215   Centro-Oeste  2010   February  2070746.00
216         Brasil  2009   February 30495142.71
217          Norte  2009   February  1804162.00
218       Nordeste  2009   February  5098685.00
219        Sudeste  2009   February 16190533.00
220            Sul  2009   February  5465140.00
221   Centro-Oeste  2009   February  1936622.71
222         Brasil  2008   February 31730940.65
223          Norte  2008   February  1836296.00
224       Nordeste  2008   February  5284769.65
225        Sudeste  2008   February 17088727.00
226            Sul  2008   February  5689547.00
227   Centro-Oeste  2008   February  1831601.00
228         Brasil  2007   February 30324669.00
229          Norte  2007   February  1752986.00
230       Nordeste  2007   February  4883152.00
231        Sudeste  2007   February 16615359.00
232            Sul  2007   February  5351937.00
233   Centro-Oeste  2007   February  1721235.00
234         Brasil  2006   February 29383486.50
235          Norte  2006   February  1646351.90
236       Nordeste  2006   February  4704041.08
237        Sudeste  2006   February 16178817.62
238            Sul  2006   February  5187222.33
239   Centro-Oeste  2006   February  1667053.57
240         Brasil  2005   February 27838480.97
241          Norte  2005   February  1619124.37
242       Nordeste  2005   February  4526038.11
243        Sudeste  2005   February 15157054.86
244            Sul  2005   February  4966585.86
245   Centro-Oeste  2005   February  1569677.77
246         Brasil  2004   February 26508170.77
247          Norte  2004   February  1507448.59
248       Nordeste  2004   February  4139768.00
249        Sudeste  2004   February 14714713.51
250            Sul  2004   February  4690227.86
251   Centro-Oeste  2004   February  1456012.81
252         Brasil  2024      March 47827070.54
253          Norte  2024      March  3466495.47
254       Nordeste  2024      March  8208486.81
255        Sudeste  2024      March 23022452.70
256            Sul  2024      March  9355275.22
257   Centro-Oeste  2024      March  3774360.34
258         Brasil  2023      March 45714391.09
259          Norte  2023      March  3327716.43
260       Nordeste  2023      March  7914538.82
261        Sudeste  2023      March 22083389.15
262            Sul  2023      March  8953570.25
263   Centro-Oeste  2023      March  3435176.44
264         Brasil  2022      March 44674065.28
265          Norte  2022      March  3003595.52
266       Nordeste  2022      March  7459576.67
267        Sudeste  2022      March 22069843.08
268            Sul  2022      March  8768559.93
269   Centro-Oeste  2022      March  3372490.08
270         Brasil  2021      March 43661452.06
271          Norte  2021      March  2891450.83
272       Nordeste  2021      March  7244997.41
273        Sudeste  2021      March 21988991.29
274            Sul  2021      March  8257890.37
275   Centro-Oeste  2021      March  3278122.16
276         Brasil  2020      March 41146409.02
277          Norte  2020      March  2815284.18
278       Nordeste  2020      March  6937722.50
279        Sudeste  2020      March 20221091.04
280            Sul  2020      March  7950412.57
281   Centro-Oeste  2020      March  3221898.73
282         Brasil  2019      March 41155262.42
283          Norte  2019      March  2600590.65
284       Nordeste  2019      March  7056848.88
285        Sudeste  2019      March 20626329.71
286            Sul  2019      March  7767428.41
287   Centro-Oeste  2019      March  3104064.77
288         Brasil  2018      March 41112932.62
289          Norte  2018      March  2868573.59
290       Nordeste  2018      March  6587721.20
291        Sudeste  2018      March 20852952.93
292            Sul  2018      March  7771959.06
293   Centro-Oeste  2018      March  3031725.84
294         Brasil  2017      March 40552671.16
295          Norte  2017      March  2795464.00
296       Nordeste  2017      March  6796094.53
297        Sudeste  2017      March 20172690.96
298            Sul  2017      March  7845156.26
299   Centro-Oeste  2017      March  2943265.41
300         Brasil  2016      March 39451889.24
301          Norte  2016      March  2863718.00
302       Nordeste  2016      March  6799183.50
303        Sudeste  2016      March 19611353.62
304            Sul  2016      March  7259987.59
305   Centro-Oeste  2016      March  2917646.53
306         Brasil  2015      March 39765521.39
307          Norte  2015      March  2709350.00
308       Nordeste  2015      March  6848289.03
309        Sudeste  2015      March 20150053.41
310            Sul  2015      March  7278854.00
311   Centro-Oeste  2015      March  2778974.95
312         Brasil  2014      March 40315392.00
313          Norte  2014      March  2612667.00
314       Nordeste  2014      March  6857552.00
315        Sudeste  2014      March 20786600.00
316            Sul  2014      March  7281924.00
317   Centro-Oeste  2014      March  2776649.00
318         Brasil  2013      March 38442191.55
319          Norte  2013      March  2378191.55
320       Nordeste  2013      March  6705944.00
321        Sudeste  2013      March 19907218.00
322            Sul  2013      March  6833953.00
323   Centro-Oeste  2013      March  2616885.00
324         Brasil  2012      March 38635573.72
325          Norte  2012      March  2439658.43
326       Nordeste  2012      March  6407753.00
327        Sudeste  2012      March 20243305.00
328            Sul  2012      March  7026116.29
329   Centro-Oeste  2012      March  2518741.00
330         Brasil  2011      March 36350690.05
331          Norte  2011      March  2235928.05
332       Nordeste  2011      March  6026836.00
333        Sudeste  2011      March 19390849.00
334            Sul  2011      March  6435946.00
335   Centro-Oeste  2011      March  2261131.00
336         Brasil  2010      March 35116881.82
337          Norte  2010      March  2107322.82
338       Nordeste  2010      March  6118961.00
339        Sudeste  2010      March 18521916.00
340            Sul  2010      March  6199985.00
341   Centro-Oeste  2010      March  2168697.00
342         Brasil  2009      March 31977749.51
343          Norte  2009      March  1882490.00
344       Nordeste  2009      March  5391003.00
345        Sudeste  2009      March 16931565.00
346            Sul  2009      March  5742612.00
347   Centro-Oeste  2009      March  2030079.51
348         Brasil  2008      March 32118714.86
349          Norte  2008      March  1900506.00
350       Nordeste  2008      March  5365905.86
351        Sudeste  2008      March 17293931.00
352            Sul  2008      March  5723834.00
353   Centro-Oeste  2008      March  1834538.00
354         Brasil  2007      March 31312900.00
355          Norte  2007      March  1820537.00
356       Nordeste  2007      March  4985447.00
357        Sudeste  2007      March 17288542.00
358            Sul  2007      March  5424059.00
359   Centro-Oeste  2007      March  1794315.00
360         Brasil  2006      March 29897827.73
361          Norte  2006      March  1741059.95
362       Nordeste  2006      March  4976021.88
363        Sudeste  2006      March 16273216.75
364            Sul  2006      March  5211509.39
365   Centro-Oeste  2006      March  1696019.76
366         Brasil  2005      March 28598631.51
367          Norte  2005      March  1669597.53
368       Nordeste  2005      March  4692201.49
369        Sudeste  2005      March 15516647.87
370            Sul  2005      March  5069873.21
371   Centro-Oeste  2005      March  1650311.41
372         Brasil  2004      March 27284329.41
373          Norte  2004      March  1574176.69
374       Nordeste  2004      March  4372743.11
375        Sudeste  2004      March 14903795.68
376            Sul  2004      March  4898770.40
377   Centro-Oeste  2004      March  1534843.53
378         Brasil  2024      April 47337699.26
379          Norte  2024      April  3455924.38
380       Nordeste  2024      April  8354166.96
381        Sudeste  2024      April 22685707.97
382            Sul  2024      April  9077472.57
383   Centro-Oeste  2024      April  3764427.38
384         Brasil  2023      April 44884947.13
385          Norte  2023      April  3213742.59
386       Nordeste  2023      April  7809121.70
387        Sudeste  2023      April 21706203.68
388            Sul  2023      April  8645236.81
389   Centro-Oeste  2023      April  3510642.35
390         Brasil  2022      April 43210840.67
391          Norte  2022      April  2935305.78
392       Nordeste  2022      April  7240387.71
393        Sudeste  2022      April 21718099.51
394            Sul  2022      April  7909914.34
395   Centro-Oeste  2022      April  3407133.33
396         Brasil  2021      April 42657441.68
397          Norte  2021      April  2986817.78
398       Nordeste  2021      April  7205497.63
399        Sudeste  2021      April 21061906.69
400            Sul  2021      April  8114934.32
401   Centro-Oeste  2021      April  3288285.26
402         Brasil  2020      April 37272076.86
403          Norte  2020      April  2629850.40
404       Nordeste  2020      April  6370728.71
405        Sudeste  2020      April 18064679.86
406            Sul  2020      April  7081306.47
407   Centro-Oeste  2020      April  3125511.42
408         Brasil  2019      April 39731356.76
409          Norte  2019      April  2568934.28
410       Nordeste  2019      April  6780238.95
411        Sudeste  2019      April 19827659.31
412            Sul  2019      April  7470885.50
413   Centro-Oeste  2019      April  3083638.72
414         Brasil  2018      April 40697563.25

In [31]:
# Map month names to month numbers
month_map = {
    'Janeiro': 1,
    'Fevereiro': 2,
    'Março': 3,
    'Abril': 4,
    'Maio': 5,
    'Junho': 6,
    'Julho': 7,
    'Agosto': 8,
    'Setembro': 9,
    'Outubro': 10,
    'Novembro': 11,
    'Dezembro': 12
}

# Apply the month_map to create a month number column
df_long['Mês'] = df_long['Mês'].map(month_map)

# Pegar a estação do ano e criar uma coluna Estação 
def get_season(month):
    if month in [12, 1, 2]:
        return 'Verão'
    elif month in [3, 4, 5]:
        return 'Outono'
    elif month in [6, 7, 8]:
        return 'Inverno'
    else:
        return 'Primavera'
    
df_long['Estação'] = df_long['Mês'].apply(get_season)
df_long

            Região   Ano  Mês     Energia Estação
0           Brasil  2024    1 46835420.17   Verão
1            Norte  2024    1  3469530.56   Verão
2         Nordeste  2024    1  8401502.12   Verão
3          Sudeste  2024    1 22368249.72   Verão
4              Sul  2024    1  8896396.66   Verão
...            ...   ...  ...         ...     ...
1507         Norte  2004   12  1740620.86   Verão
1508      Nordeste  2004   12  4770509.72   Verão
1509       Sudeste  2004   12 15750647.95   Verão
1510           Sul  2004   12  4665214.36   Verão
1511  Centro-Oeste  2004   12  1635113.54   Verão

[1512 rows x 5 columns]

In [32]:
# drop rows with 0 values
df_final = df_long[df_long['Energia'] != 0]
df_final.reset_index(drop=True)

df_final = df_final[['Ano', 'Mês', 'Região', 'Estação', 'Energia']]

df_final = df_final.sort_values(by=['Região', 'Ano', 'Mês']).reset_index(drop=True)

df_final

       Ano  Mês  Região Estação     Energia
0     2004    1  Brasil   Verão 26978358.02
1     2004    2  Brasil   Verão 26508170.77
2     2004    3  Brasil  Outono 27284329.41
3     2004    4  Brasil  Outono 28046182.35
4     2004    5  Brasil  Outono 27244506.48
...    ...  ...     ...     ...         ...
1459  2023   12     Sul   Verão  8365523.17
1460  2024    1     Sul   Verão  8896396.66
1461  2024    2     Sul   Verão  9152087.22
1462  2024    3     Sul  Outono  9355275.22
1463  2024    4     Sul  Outono  9077472.57

[1464 rows x 5 columns]

In [33]:
# save csv
df_final.to_csv('../data/processed/consumo_energia.csv', index=False)

In [ ]:
df = pd.read_excel('../data/raw/consumo.xls')